/***********************************about me*********************************************/
.about-me{
    margin: 40px 70px 0px;
}
.about-me-container{
    margin-top: 60px;
}
.about-me .presentation{
    display: flex;
}
.presentation-img {
    margin-left: 10px;
}
.presentation-img img{
    width: 380px;
    height: auto;
}

.fullname{
   margin-top: 10px;
}
.address{
    margin-top: 8px;
    opacity: 0.6;
}
.who-iam{
    margin-top: 25px;
    opacity: 0.6;
    font-size: 16px;
    text-align: justify;
    line-height: 27px;
}

.some-statics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:  20px 10px;
}
.some-statics >.static{
    display: flex;
    margin-top: 15px;
}

.static  >.logo{
    width: 50px;
}
.static  >.logo i{
    color: white;
    font-size: 18px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
    background-color: #0675fd;
}
.static >.text{
    width: 73px;
    font-size: 14px;
    line-height: 18px;
}




.my-services{
    margin-top: 40px;
}
.my-services >.title{
    font-size: 22px;
    font-weight: bold;
    background-color: #03a9f440;
    border-left: 7px solid #03a9f4;
    padding: 10px 0px 10px 10px;
    text-transform: capitalize;
}
.services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f7f9fc;
    padding-top: 40px;
}
.service{
    margin: 0px 0px 40px 0px;
    width: 320px;
    display: inline-flex;
    align-items: center;
}
.service-img > img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}



.my-clients{
    margin-top:40px ;
    margin-bottom: 60px;
}

.my-clients .title{
    font-size: 22px;
    font-weight: bold;
    background-color: #03a9f440;
    border-left: 7px solid #03a9f4;
    padding: 10px 0px 10px 10px;
    text-transform: capitalize;
}
.clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.client{
    margin: 15px 10px;
}
.client img{
    width: 120px;
    height: auto;
}

/***********************************about me*********************************************/
