
/***********************************blog-item*********************************************/
.blog{
    margin: 40px 50px 0px;
}

.blog-container .blog-img img{
    width: 70%;
    height: auto;
}
/***********************************blog-item*********************************************/
