/*home*/
.home{
    background-image: url("/storage/background-img.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.home .mask{
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}



/*text content*/
.text-block{
    position: absolute;
    color: white;
    top: 25%;
    left: 3%;
    text-align: center;
}

.welcome-title{
    font-size: 55px;
    margin: 0px 20px 50px;
    padding: 0px 30px;
}
.work-title{
    font-size: 30px;
    margin: 0px 20px 60px;
}

.home-btns{
    margin: 0px 20px 0px;
}

.home-btns a{
    padding: 9px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
}
.home-btns a:first-child{
    background-color: #25D366;
}
.home-btns a:nth-child(2){
    background-color: #3586e8;
}

/*social media*/
.social-media-block{
    position: absolute;
    top: 22px;
    right: 36px;
}
.social-media-block a{
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 23px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}
.social-media-block a:nth-child(1){
    background-color: blue;
}
.social-media-block a:nth-child(2){
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-media-block a:nth-child(3){
    background: #0a66c2;
}
.social-media-block a:nth-child(4){
    background: black;
}

.social-media-block a:hover{
    box-shadow: 0px 5px 15px 1px rgb(255 255 255);
    width: 37px;
    height: 37px;
    font-size: 28px;
}

