/*responsive*/

@media only screen and (max-width: 991px){
    .app .container .responsive-header{
        height: 48px;
        position: fixed;
        background: #fff;
        width: 100%;
        box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .06);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
    .header{
        margin-left: -277px;
        z-index: 1;
    }
    .app .container{
        margin-left: 0;
    }
    .app .container .content{
        margin-top: 48px;
    }

    .home{
        height: 577px;
    }
    .home .mask{
        height: 577px;
    }



}

@media only screen and (max-width: 768px)
{
    .blogs{
        margin: 40px 40px 0px;
    }

    .text-block{
        top: 15%;
    }

    .welcome-title{
        font-size: 40px;
    }
    .work-title{
        font-size: 30px;
    }
    .home-btns{
        text-align: center;
    }

    .home-btns a{
        font-size: 17px;
        margin: 20px auto;
        display: block;
        width: 207px;
    }


    .about-me .presentation{
        display: block;
    }
    .about-me{
        margin: 40px 40px 0px;
    }
    .cv {
        margin: 40px 40px 0px;
    }
}

@media only screen and (max-width: 425px)
{
    .presentation-img img{
        width: 300px;
        height: auto;
    }

    .about-me {
        margin: 40px 20px 0px;
    }

    .cv {
        margin: 40px 20px 0px;
    }

}
@media only screen and (max-width: 320px)
{
    .presentation-img img{
        width: 250px;
        height: auto;
    }
    .about-me{
        margin: 40px 15px 0px;
    }

    .cv{
        margin: 40px 15px 0px;
    }
}
